.dialog-title {
    margin-top: 0;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.payment-form {
    width: 300px;
    padding-right: 10px;
    padding-left: 10px;
}

.form-field {
    width: 100%;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

}